*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: white;
}

html,body
{
    width: 100%;
    height: 100%;
}

.main{
    display: grid;
    grid-template-columns: repeat(4,300px);
    margin-top:80px;
    row-gap: 40px;
}
.main div{
    height: 250px;
    width:280px;
    border:0.5px solid black;
    background-color: #4A4A4A;;
    border-radius: 8px;
    padding:28px;
    margin-left:20px;
}
.main div input[type="text"]{
  padding-top: 20px;
  margin-top:20px;
  border-top-left-radius: 8px;
  color:black;
  
}
.main div button{
    margin-top: 20px;
    min-width: 60px;
    outline: none;
    padding:3px;
   
    color:white;
    background-color:#717d68;
}
.main div p{
    margin-top: 30px;
   
}


