
thead {
  border-bottom: 2px solid rgb(160 160 160);
  text-align: center;
  background-color: #2c5e77;
  color: white;
}


table {
  border-collapse: collapse; 
  width: 100%; 
}

th, td {
  border: 1px solid #ccc; 
  padding: 8px; 
  text-align: left; 
}

th {
  background-color: #ccdb96; 
}
.table{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}
input[type="text"]{
  height: 1.5rem;
 
  text-align: center;
  border: 1px solid;
  border-radius: 3px;
  
  
}
#sort{
  height: 2rem;
  border-radius: 0.4rem;
  background-color:beige;
  margin-left: 1rem;
}
#gender{
  height: 2rem;
  border-radius: 0.4rem;
  background-color: beige;
}
h2{
background-color: hsl(210, 50%, 40%); 
color: hsla(0, 0%, 100%, 0.8); 
text-align: center;
height: 3rem;
margin-top: 0;
display: flex;
justify-content: center;
align-items: center;
}
.top-menu{
  background-color: beige;
  margin-top: 0px;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.btm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:0.5rem;
 
}
.btn{
  height: 30px;
  width: 30px;
  
}


